<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>

<body>
    <div class="jumbotron">
    <h1>Hmm.. how do they really feel?</h1>
<a href="{{ url_for('twitter_login') }}">Log in with Twitter</a>
        <br>
        <br>
        <img src="https://energi8agrupp11.files.wordpress.com/2015/11/kontorslandskap-fc3b6r-och-nackdelar.jpg"  alt="thumbs" class="center-block img-responsive" style="width: 500px; height:500px;"/>

    </div>
</body>

</html>